@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
  --main-color:tomato;
}
body{
  margin: 0;
  box-sizing: content-box;
  font-family: 'Sora', sans-serif;
  
}
.leaflet-container {
  height: 100vh;
  width: 100%;
}
.leaflet-left {
  bottom : 20vh;
   right :6vh ;
   top  : auto;
   left: auto;
}
input:focus{
  padding: 13px 5px;
  outline: none;
}